DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
AUTH_SECRET="ganti_dengan_secret_acak_yang_panjang"
AUTH_URL="http://localhost:3000"
AUTH_GOOGLE_ID="isi_client_id_google"
AUTH_GOOGLE_SECRET="isi_client_secret_google"
ADMIN_EMAILS="admin@gmail.com,dosen@gmail.com"
